---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
# Publications
Lugg, A., Lansdale, S., & Carcelli, S. (2024). The Politics of International Peace and Security: Introducing a New Dataset on the Creation of United Nations Security Council Subsidiary Bodies. International Studies Quarterly, 68(2), sqae060.

### Google Scholar

My Google Scholar page can be found [here](https://scholar.google.com/citations?user=I_ZvR98AAAAJ&hl=en&oi=ao).


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



